{% extends 'base.html' %}{% block teacher %}
<h1>Teacher</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th> Name</th>
            <th>Department</th>
            <th>Assigned Class</th>
        </tr>
    </thead>
    <tbody>
        {% for teacher in teachers%}
        <tr> 
            <td>{{teacher.id}}</td>
            <td>{{teacher.name}}</td>
            <td>{{teacher.department}}</td>
            <td>{{teacher.class_assigned}}</td>
            <td><a href ="{% url 'teacher_edit' teacher.id %}"> Edit </a></td>
            <td><a href ="/teacher/delete/{{teacher.id}}"> Delete </a></td>
        </tr>
        {%endfor%}
    </tbody>
</table>
    {% if edit_form %}
    <h1>Edit Teacher</h1>
    <div>
        <form method="POST" action="{% url 'teacher_edit' edit_instance.id %}">
            {% csrf_token %}
            {{ edit_form.as_p }}
            <button type="submit">Update</button>
        </form>
    </div>
    {% else %}
    <h1>ADD NEW</h1>
    <div>
        <form method="POST" action="{% url 'teacher_view' %}">
          {% csrf_token %}
          {{ form.as_p}}
          <button type="submit">Submit</button>
        </form>
        </div>
        {%endif%}
{%endblock%}